.card {
    width: 100%;
    height: 70px;
    background-color: cornflowerblue;
    /* margin-left: 15%; */
    position: fixed !important;
}

h3 {
    margin-top: 10px;
    color: whitesmoke !important;
}

.fa {
    cursor: pointer;
    color: blanchedalmond;
}

.fa-gear {
    margin-right: 50px;
}

.fa-bell-o {
    margin-right: 50px;
}

.fa-user-circle {
    font-size: 40px;
    margin-right: 20px;
}